.sidebar{
    height: 100%;
    width: 250px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
    color: beige;
    text-align: center;
    margin-top: 72px;
}

.header{
    color: honeydew;
    width: 100%;
    text-align: center;
    padding: 25px;
    background-color: rgb(68, 68, 68);
    left:0;
    right: 0;
}

.new-project{
    margin-top: 15px;
    cursor: pointer;
    
}

.container-fluid{
    margin-left: 250px;
    margin-top: 72px;
    left: 250px;
    max-width: 600px;
}

.toggle-display-off{
    display: none;
}

.project-form{
    padding: 10px;
}

.project-form input{
    width: 120px;
}

.project{
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.task{
    border: 1px solid black;
    border-radius: 5%;
    width: 600px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.new-task{
    cursor: pointer;
    margin: 10px;
}

.task-heading{
    font-weight: bolder;
    margin-bottom: 10px;
}

.rename-task{
    font-size: 60;
    cursor: pointer;
}

.change-date{
    cursor: pointer;
}

.change-buttons{
    display: flex;
    gap: 10px;
}

.done-task{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}

.done-task:hover{
    
    background-color: chartreuse;
}
.project-name{
    pointer-events: none;
}
.project-click{
    background-color: rgb(75, 74, 74);
}

.footer{
    text-align: center;
    background-color: beige;
    position: absolute;
    bottom: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.delete-project{
    cursor: pointer;
}

.today-tasks{
   margin: 15px;
   cursor: pointer;
}

.this-week-tasks{
    margin: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 650px){

    .sidebar{
        width: 100px;
    }

    .container-fluid{
        margin-left: 100px;
    }

    .task{
        width: 250px;
        padding: 5px;
    }

    .task-form{
        width: 250px;

    }

    .task-form input{
        width: 80px;
    }
}